body {
    background-color: beige;
}
.gl_tytul {
    background-color: burlywood;
}

.akapit1 {
    background-color: silver;
}
.podtytul {
    background-color: orange;
}
.akapit2 {
    background-color: peachpuff;
}
.lista {
    background-color: aquamarine;
}